/* ------------------------*/ /* ---------->>> TABLE OF CONTENT <<<-----------*/ /* ------------------------*/

/*
1. Import
	1.1 - Font imports
2. Global
	2.1 - CSS reset
	2.2 - Variables
	2.3 - Animation
	2.4 - Titles
3. Header
	3.1 - General
	3.2 - Logo
	3.3 - Navigation
	3.4 - login
4. Main
	3.1 - General
	3.2 - Hero
	3.3 - Call To Action (CTA)
5. Footer'
	3.1 - General
	3.2 - Top footer
	3.3 - Bottom footer
6. Dev Resources
	5.1 - Color glossary
	5.2 - Typography
	5.3 - Centering
	5.4 - Sizing
	5.5 - Colors
	5.6 - Background colors
	5.7 - Display scaling
	5.8 - Quick fixes
	5.9 - Z-index list
7. Media Queries
	6.1 - 600px and up
	6.2 - 900px and up
	6.3 - 1200px and up
	6.4 - 1800px and up
*/

/* ------------------------*/ /* ---------->>>IMPORT (1) <<<-----------*/ /* ------------------------*/

/* ---------->>> Font imports (1.1) <<<-----------*/



/* ------------------------*/ /* ---------->>> GLOBAL (2) <<<-----------*/ /* ------------------------*/

/* ---------->>> My custom CSS reset  (2.1) <<<-----------*/

html {
  box-sizing: border-box; /* Makes padding be calculated with size on everything */
  font-size: 62.5%; /* Sets REM and EM to be the same as 10px */
}

body {
	background-color: var(--white); /* Makes the background of the page white */
}

*, *:before, *:after {
  box-sizing: inherit; /* Gives eveything a border box */
}

* {
	margin: 0; /* Sets all margins to 0 */
	padding: 0; /* Sets all padding to 0 */
	border: 0; /* sets all borders to 0 */
}

a {
	text-decoration-line: none; /* Removes the Underline from all links */
}


/* ---------->>> Variables (2.2) <<<-----------*/

:root { /* --->> GROUP <<--- */

	/* --->> Colors <<--- */
	--black: #202121; /* coal black */
	--white: #F4F7F6; /* off white */
	--blue: #005CFF; /*  vibrant blue */

	--faded-black: rgba(32, 33, 33, 0.75); /* coal black with a 50% opacity */
	--faded-white: rgba(244, 247, 246, 0.75); /* off white with a 50% opacity */
	--faded-blue: rgba(0, 92, 255, 0.75); /* vibrant blue with a 50% opacity */

	/* --->> Active <<--- */
	--active-size: 0.75rem;

} /* The place to put all the varaibles */


/* ---------->>> Animation (2.3) <<<-----------*/

@keyframes animation-name-here { /* Makes an animation variable for later use */



} /* Describe what the animation does here */

@keyframes animation-name-here { /* Makes an animation variable for later use */

} /* Describe what the animation does here */


/* ---------->>> Titles (2.4) <<<-----------*/

h1 {
	font-family: sans-serif;
	font-size: 2.6rem;
	font-weight: 600;
} /* Personalized h1 title */

h2 {
	font-family: sans-serif;
	font-size: 2.4rem;
	font-weight: 500;
	padding-bottom: 2rem;
} /* Personalized h2 title */


/* ------------------------*/ /* ---------->>> HEADER (3) <<<-----------*/ /* ------------------------*/

/* ---------->>> General <<<-----------*/

header {
	position: fixed;
	left: 0;
	top: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: space-between;

	width: 5rem; /* -- SCALE -- */
	height: 100%; /* -- SCALE -- */
	background-color: var(--white);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);

	transition: 1s;

	z-index: 10;
} /* The Wrapper for the logo, navigation and login*/


/* ---------->>> Logo <<<-----------*/

.logo-container {
	width: 100%; /* -- SCALE -- */
	height: 5rem; /* -- SCALE -- */
} /* The container for the logo */

	.logo-container hover {

	}


/* ---------->>> Navigation <<<-----------*/ /* Trusted advice with only a few clicks */

nav {
	display: flex;
	flex-direction: column; /* -- SCALE -- */
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
	padding: 10rem 0; /* -- SCALE -- */
} /* The wrapper for the navigation items */

.nav-item {
	flex-grow: 1;
	color: var(--faded-black);

	transition: color 0.2s;
} /* The items inside the navigation bar */

	.nav-item:hover {
		color: var(--blue);
	} /* The hover for the nav items*/


/* ---------->>> Login <<<-----------*/

.login-container {
	width: 100%; /* -- SCALE -- */
	height: 5rem; /* -- SCALE -- */
	color: var(--faded-black);

	cursor: pointer;
	transition: 0.2s;
} /* The container for the login */

	.login-container:hover {
		color: var(--blue);
	} /* The hover for the login */

	.login-jq .login-container {
		background-color: var(--blue);
		color: var(--white);
	} /* Fuck javascript */

	.login-jq .login-container:hover {
		color: var(--white);
	} /* Fuck javascript */

.login-drop { /* FIX DETTE FOR MOBIL */
	position: absolute;
	top: 100%;
	right: 0;

	width: 100%;
	height: 0;

	cursor: default;
	transition: 0.2s background-color;

	z-index: -10;
} /* The dropdown for the login container */

	.login-jq .login-drop {
		height: 500rem;
		background-color: var(--faded-black);
	} /* The hover for the dropdown / .login-container:hover .login-drop */

.login-box-container {
	position: absolute;
	top: 10rem;
	left: 50%;
	transform: translateX(-50%);

	width: 30rem;
	height: 0;
	border-bottom-right-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;

	transition: 0.2s background-color, 0.2s border;
} /* The box containing the actual login form */

	.login-jq .login-box-container {
		height: 35rem;
		background-color: var(--white);
		border-top: 0.3rem solid var(--faded-blue);

	} /* The hover for the login box / .login-container:hover .login-box-container*/

.login-box {
	position: relative;
}

.login-quit {
	position: absolute;
	top: 1rem;
	right: 1rem;
	color: transparent;
	cursor: pointer;
}

	.login-jq .login-quit {
		color: var(--faded-black);
	}


/* ---------->>> Active <<<-----------*/

.active {
	position: relative;
	background-color: var(--blue);
	font-weight: 600;
} /* class used to define wich item is active */

.active svg, .active span {
	color: var(--white);
	} /* The tekst color change */

.active::before {
	content: "";
	position: absolute;
	display: block;
	bottom: 100%;
	left: 100%;

	/* TRIANGLE */
	border-style: solid;
	border-width: var(--active-size) 0 0 var(--active-size);
	border-color: transparent transparent transparent var(--blue);
	filter: brightness(0.6);
	/* TRIANGLE */

} /* The triangle added next to the active after*/

.active::after {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	left: 100%;
	width: var(--active-size);
	height: 100%;
	background-color: var(--blue);
} /* The block of color that shows what is currently active */


/* ------------------------*/ /* ---------->>> MAIN <<<-----------*/ /* ------------------------*/

/* ---------->>> General <<<-----------*/

main {
	padding-left: 5rem; /* -- SCALE -- */
} /* The styling for the main section*/


/* ---------->>> Hero <<<-----------*/




/* ---------->>> Call to Action <<<-----------*/




/* ---------->>> Parallax images <<<-----------*/

.parallax {
  perspective: 0.1rem;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective-origin-x: 100%; /* Webkit fix */
}

.parallax-group {
  position: relative;
  height: 95vh;
  transform-style: preserve-3d;
}

.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin-x: 100%; /* Webkit fix */
}

.parallax-layer-base {
  transform: translateZ(0);
}

.parallax-layer-back {
  transform: translateZ(-0.1rem) scale(2.01);
}

.parallax-layer-deep-back {
  transform: translateZ(-0.2rem) scale(3.02);
}

.base-layer {
	z-index: 2;
}

.back-layer {
	z-index: 1;
}

.deep-back-layer {
	z-index: 0;
}

/* ---------->>> Info Container <<<-----------*/




/* ------------------------*/ /* ---------->>> FOOTER <<<-----------*/ /* ------------------------*/

/* ---------->>> General <<<-----------*/

footer {
	padding-left: 5rem; /* -- SCALE -- */
	border-top: 0.1rem solid var(--faded-blue);
} /* The styling for the footer */

.parallax-footer {
  position: relative;
  transform-style: preserve-3d;
}

.copyright {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	height: 4rem;
	padding: 1rem 2rem;
}


/* ------------------------*/ /* ---------->>> DEV RESOURCES <<<-----------*/ /* ------------------------*/

/* ---------->>> Color glossary <<<-----------*/

/*
#202121 - black
#F4F7F6 - white
#005CFF - blue
*/


/* ---------->>> Typography <<<-----------*/

.nav-txt {
	font-size: 1.4rem;
	font-family: "proxima-nova", arial, sans-serif;
	font-style: normal;
	font-smoothing: antialiased;
} /* Text format for navigation */

.bread-txt {
	font-size: 1.8rem;
	font-family: sans-serif;
	font-weight: 400;
	line-height: 2.6rem;
} /* The format for text blocks */

.note-txt {
	font-size: 1.2rem;
	font-family: sans-serif;
	font-weight: 400;
} /* The format for small notations */ 


/* ---------->>> Centering <<<-----------*/

.center-abs {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
} /* For perfect centering of objects inside relative containers */

.center-marg {
	margin: 0 auto;
} /* For centering containers horizontaly */

.center-flex {
	display: flex;
	justify-content: center;
	align-items: center;
} /* For perfect centering of objects inside a flex container */

.center-text {
	text-align: center;
} /* For centering text horizontaly */


/* ---------->>> Sizing <<<-----------*/ 
.full-w {
	width: 100%;
} /* Sizes things to be 100% of the width of its container */

.full-h {
	height: 100%;
} /* Sizes things to be 100% of the height of its container */

.half-w {
	width: 50%;
} /* Sizes things to be 50% of the width of its container */

.half-h {
	height: 50%;
} /* Sizes things to be 50% of the height of its container */


/* ---------->>> Color <<<-----------*/

.black-txt {
	color: var(--black);
} /* class aplied for black text */

.white-txt {
	color: var(--white);
} /* class aplied for white text */

.blue-txt {
	color: var(--blue);
} /* class aplied for blue text */

.faded-black-txt {
	color: var(--faded-black);
} /* class aplied for faded black text */

.faded-white-txt {
	color: var(--faded-white);
} /* class aplied for faded white text */

.faded-blue-txt {
	color: var(--faded-blue);
} /* class aplied for faded blue text */


/* ---------->>> Background-color <<<-----------*/

.black-bcg {
	background-color: var(--black);
} /* class aplied for black background */

.white-bcg {
	background-color: var(--white);
} /* class aplied for white background */

.blue-bcg {
	background-color: var(--blue);
} /* class aplied for blue background */


/* ---------->>> Display scaling <<<-----------*/

.pc-show {
	display: none;
} /* Makes something show up on pc */

.pc-hide {
	display: inline-block;
} /* Makes something dissapear on pc */


/* ---------->>> Quick fixes <<<-----------*/

.img-fix {
	display: block;
} /* Fixes the gap created at the bottom of images */


/* ---------->>> Z-index list <<<-----------*/

/*
0 - deep back layer
1 - back layer
2 - base layer

10 - header layer
*/


/* ------------------------*/ /* ---------->>> MEDIA QUERIES <<<-----------*/ /* ------------------------*/

/* Mobile first, remember to change the breakpoint based on your design*/

/* Small devices (Tablets, 600px and up) */
@media (min-width: 600px) {

}

/* Medium devices (Tablet portrait, small desktops, 900px and up) */
@media (min-width: 900px) {

	/* ---------->>> Header <<<-----------*/

	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: calc(100vw - 1.7rem );
		height: 5rem;
	} /* Scaling for the header */

	.logo-container {
		width: 5rem;
		height: 100%;
	} /* The styling for the logo container asjusted for pc */

	nav {
		flex-direction: row;
		padding: 0 20%;
	} /* Sets the nav to be horisontal */

	.login-container {
		width: 10rem;
		height: 100%;
	} /* The styling for the login contaienr adjusted for pc */

	.active::before {
		top: 100%;
		bottom: auto;
		left: 100%;
		border-width: var(--active-size) var(--active-size) 0 0;
		border-color: var(--blue) transparent transparent transparent;
	} /* The triangle on top of the blue block that gives the cool behind the nav bar effect */

	.active::after {
		top: 100%;
		left: 0;
		height: var(--active-size);
		width: 100%;
		background-color: var(--blue);
	} /* The blue block placed after the nav item */


	/* ---------->>> Main <<<-----------*/

	main {
		padding: 0;
	} /* scaling for the main section */


	/* ---------->>> Footer <<<-----------*/

	footer {
		padding-left: 0;
	}


	/* ---------->>> Other <<<-----------*/

	.pc-show {
		display: inline-block;
	} /* Shows something on pc/tablet */
	
	.pc-hide {
		display: none;
	} /* hides something on pc/tablet */

}

/* Large devices (Medium to large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* Huge devices (Big monitors and tvs, 1800px and up) */
@media (min-width: 1800px) {

}