/* ------------------------*/ /* ---------->>> TABLE OF CONTENT <<<-----------*/ /* ------------------------*/

/*
1. Import
	1.1  - Font imports
2. Global
	2.1  - CSS reset
	2.2  - Variables
	2.3  - Animation
	2.4  - Titles
3. Header
	3.1  - General
	3.2  - Logo
	3.3  - Navigation
	3.4  - login
	3.5  - Active
4. Main
	4.1  - General
	4.2  - Hero
	4.3  - Call To Action (CTA)
	4.4  - ...
	4.5  - list
5. Footer'
	5.1  - General
	5.2  - Top footer
	5.3  - Bottom footer
6. Dev Resources
	6.1  - Color glossary
	6.2  - Typography
	6.3  - Centering
	6.4  - Sizing
	6.5  - Colors
	6.6  - Background colors
	6.7  - Display scaling
	6.8  - Quick fixes
	6.9  - Z-index list
	6.10 - Margin
7. Media Queries
	7.1  - 600px and up
	7.2  - 900px and up
	7.3  - 1200px and up
	7.4  - 1800px and up
*/

/* ------------------------*/ /* ---------->>>IMPORT (1) <<<-----------*/ /* ------------------------*/

/* ---------->>> Font imports (1.1) <<<-----------*/



/* ------------------------*/ /* ---------->>> GLOBAL (2) <<<-----------*/ /* ------------------------*/

/* ---------->>> My custom CSS reset  (2.1) <<<-----------*/

html {
  box-sizing: border-box; /* Makes padding be calculated with size on everything */
  font-size: 62.5%; /* Sets REM and EM to be the same as 10px */
  scroll-behavior: smooth; /* makes the scrolling between anchor points smooth*/
}

body {
	background-color: var(--white); /* Makes the background of the page white */
}

*, *:before, *:after {
  box-sizing: inherit; /* Gives eveything a border box */
}

* {
	margin: 0; /* Sets all margins to 0 */
	padding: 0; /* Sets all padding to 0 */
	border: 0; /* sets all borders to 0 */
}

a {
	text-decoration-line: none; /* Removes the Underline from all links */
}


/* ---------->>> Variables (2.2) <<<-----------*/

:root { /* --->> GROUP <<--- */

	/* --->> Colors <<--- */
	--black: #202121; /* coal black */
	--white: #F4F7F6; /* off white */
	--blue: #00c5f2; /*  vibrant blue */

	--faded-black: rgba(32, 33, 33, 0.75); /* coal black with a 75% opacity */
	--faded-white: rgba(244, 247, 246, 0.75); /* off white with a 75% opacity */
	--faded-blue: rgba(0, 195, 239, 0.75); /* vibrant blue with a 75% opacity */

	--very-faded-black: rgba(32, 33, 33, 0.50); /* coal black with a 50% opacity */

	/* --->> Active <<--- */
	--active-size: 0.75rem;

} /* The place to put all the varaibles */


/* ---------->>> Animation (2.3) <<<-----------*/

@keyframes animation-name-here { /* Makes an animation variable for later use */



} /* Describe what the animation does here */

@keyframes pull-right { /* Makes an animation variable for later use */
	0%   {transform: translateX(1000rem)}
	70%  {transform: translateX(-2rem)}
	90%  {transform: translateX(1rem)}
	100% {transform: translateX(0)}
} /* Pulls an element from the right to where it's suposed to be */

@keyframes pull-left { /* Makes an animation variable for later use */
	0%   {transform: translateX(-1000rem)}
	50%  {transform: translateX(2rem)}
	75%  {transform: translateX(-1rem)}
	100% {transform: translateX(0)}
} /* Pulls an element from the left to where it's suposed to be */

/* ---------->>> Titles (2.4) <<<-----------*/

h1 {
	font-family: "proxima-nova", arial, sans-serif;
	font-size: 2.6rem;
	font-weight: 600;
} /* Personalized h1 title */

h2 {
	font-family: "proxima-nova", arial, sans-serif;
	font-size: 2.4rem;
	font-weight: 500;
	padding-bottom: 2rem;
} /* Personalized h2 title */


/* ------------------------*/ /* ---------->>> HEADER (3) <<<-----------*/ /* ------------------------*/

/* ---------->>> General (3.1) <<<-----------*/

header {
	position: fixed;
	left: 0;
	top: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: space-between;

	width: 5rem; /* -- SCALE -- */
	height: 100vh; /* -- SCALE -- */
	background-color: var(--white);
	box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2);

    transition: 0.5s;

	z-index: 10;
} /* The Wrapper for the logo, navigation and login*/


/* ---------->>> Logo (3.2) <<<-----------*/

.logo-container {
	width: 100%; /* -- SCALE -- */
	height: 5rem; /* -- SCALE -- */
} /* The container for the logo */

	.logo-container hover {

	}


/* ---------->>> Navigation (3.3) <<<-----------*/ /* Trusted advice with only a few clicks */

nav {
	display: flex;
	flex-direction: column; /* -- SCALE -- */
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
	padding: 10rem 0; /* -- SCALE -- */
} /* The wrapper for the navigation items */

.nav-item {
	flex-grow: 1;
	color: var(--faded-black);

	transition: color 0.2s;
} /* The items inside the navigation bar */

	.nav-item:hover {
		color: var(--blue);
	} /* The hover for the nav items*/


/* ---------->>> Login (3.4) <<<-----------*/

.login-container {
	width: 100%; /* -- SCALE -- */
	height: 5rem; /* -- SCALE -- */
	color: var(--faded-black);

	cursor: pointer;
	transition: 0.2s;
} /* The container for the login */

	.login-container:hover {
		color: var(--blue);
	} /* The hover for the login */

	.login-jq .login-container {
		background-color: var(--blue);
		color: var(--white);
	} /* Fuck javascript */

	.login-jq .login-container:hover {
		color: var(--white);
	} /* Fuck javascript */

.login-drop { /* FIX DETTE FOR MOBIL */
	position: absolute;
	top: 0;
	left: 100%;

	width: 0;
	height: 100%;

	overflow: hidden;
	cursor: default;
	transition: 0.3s background-color;

	z-index: -10;
} /* The dropdown for the login container */

	.login-jq .login-drop {
		width: calc(100vw - 5rem);
		background-color: var(--faded-black);
	} /* The hover for the dropdown / .login-container:hover .login-drop */

.login-box-container {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 20rem;
	height: 0;
	border-bottom-right-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;

	transition: 0.2s background-color, 0.2s border, 0.3s top;

	z-index: 10;
} /* The container containing the login box */

	.login-jq .login-box-container {
		height: 25rem;
		top: 40%;
		background-color: var(--white);
		border-top: 0.3rem solid var(--faded-blue);

	} /* The hover for the login box container / .login-container:hover .login-box-container*/

.login-box {
	position: relative;
} /* The box containing the login form */

.login-quit {
	position: absolute;
	top: 1rem;
	right: 1rem;
	color: transparent;
	cursor: pointer;

	z-index: 15;
} /* The quit button for the login form */

	.login-jq .login-quit {
		color: var(--faded-black);
	} /* The hover for the quit button */

.login-title {
	position: absolute;
	top: 1rem;
	left: 10%;
	opacity: 0;
}

	.login-jq .login-title {
		opacity: 1;
	}

.login-form {
	flex-direction: column;
	width: 80%;
	
	z-index: 11;
	opacity: 0;
} /* The form for logging in */

	.login-jq .login-form {
		opacity: 1;
	} /* The hover for the login form (kinda) */

.login-form [type = email], .login-form [type = password] {
	height: 3rem;
	padding: 0.5rem 1rem;
	border-radius: 0.3rem;
	outline-width: 0.1rem;
	outline-color: var(--blue);

	box-shadow: 0 0 0.2rem var(--faded-black);

	color: var(--black);
}

.login-form [type = submit] {
	position: absolute;
	right: 0;
	padding: 1rem 2rem;
	border-radius: 0.3rem;

	background-color: var(--faded-blue);
	color: var(--white);
	cursor: pointer;

	transition: 0.2s background-color;
}

	.login-form [type = submit]:hover {
		background-color: var(--blue);
	}

.login-links {
	position: absolute;
	top: 120%;
}


/* ---------->>> Active (3.5) <<<-----------*/

.active {
	position: relative;
	background-color: var(--blue);
	font-weight: 600;
} /* class used to define wich item is active */

.active svg, .active span {
	color: var(--white);
	} /* The tekst color change */

.active::before {
	content: "";
	position: absolute;
	display: block;
	bottom: 100%;
	left: 100%;

	/* TRIANGLE */
	border-style: solid;
	border-width: var(--active-size) 0 0 var(--active-size);
	border-color: transparent transparent transparent var(--blue);
	filter: brightness(0.6);
	/* TRIANGLE */

} /* The triangle added next to the active after*/

.active::after {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	left: 100%;
	width: var(--active-size);
	height: 100%;
	background-color: var(--blue);
} /* The block of color that shows what is currently active */


/* ------------------------*/ /* ---------->>> MAIN (4) <<<-----------*/ /* ------------------------*/

/* ---------->>> General (4.1) <<<-----------*/

main {
	padding-left: 5rem; /* -- SCALE -- */
} /* The styling for the main section*/

.lawyer-listing {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}


/* ---------->>> Hero (4.2) <<<-----------*/

.hero {
	position: relative;
}

/* ---------->>> Call to Action (4.3) <<<-----------*/

.cta > p {
	animation: pull-right 1s;
}

.cta-button {
	display: block;
	width: 25rem;
	padding: 2rem 3rem;
	border-radius: 0.3rem;

	background-color: var(--blue);
	color: var(--white);
	cursor: pointer;

	transition: 0.2s background-color;
	animation: pull-left 2s;
}

.cta-button:hover {
	background-color: var(--faded-blue);
}



/* ---------->>> Search (4.4) <<<-----------*/

.search {
	display: block;
	width: 100%;
}

.search > form {
	padding: 1.6rem;
	background-color: white;
}

.search-input {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	border: 0.1rem solid var(--faded-black);
}

.search-input > input {
	padding: 0.6rem 0 0.6rem 1rem;
	outline: none;
	width: 95%;
}

.search-input > button {
	padding: 0 0.6rem;
	background-color: transparent;
	cursor: pointer;
}

.search-options > div {
	display: flex;
	align-items: center;
}

.search-options > div > input {
	margin-right: 0.8rem;
}


/* ---------->>> List (4.5) <<<-----------*/

#list {
	position: absolute;
	top: -7.5rem;
	left: 50%;
	transform: translateX(-50%);
	width: 1rem;
	height: 1rem;
}

.list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.list-item {
	display: flex;
	flex-direction: column;
	border-radius: 0.1rem;

	background-color: white;
	width: 100%;
	transition: width 0.3s;
}

.list-item-avatar {
	padding: 1.6rem;
	overflow: hidden;
}

.list-item-avatar > img {
	width: 8rem;
	border-radius: 50%;
}

.list-item-main {
	padding: 1.6rem;
}

.title-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.lsp-name {
	font-family: 'Open Sans', sans-serif;
	font-size: 2.2rem;
	font-weight: 500;
	color: var(--faded-black);
}

.lsp-name:hover {
	text-decoration-line: underline;
	text-decoration-color: var(--blue);
}

.visit-button {
	padding: 0.2rem 0.8rem 0.4rem;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.8rem;
	font-weight: 500;
	color: var(--very-faded-black);
	transition: 0.3s color;
	z-index: 3;

}

.visit-button:hover {
	color: var(--white);
}

.visit-button::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 100%;

	background-color: var(--blue);

	transition: 0.3s width ease;
	z-index: -1;
}

.visit-button:hover::after {
	width: 100%;
}

.info-row {

	/* FONT */
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
	font-weight: 500;
	color: var(--very-faded-black);
}

.info-row > span:first-child {
	margin-right: 1rem;
}


/* >---< FIELD ROW >---< */

.field-row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.tag {
	margin: 0 0.6rem 0.6rem 0;
	padding: 0.3rem 1rem 0.5rem;
	background-color: var(--very-faded-black);

	border-radius: 10rem;

	transition: 0.1s filter;
	cursor: default;

	/* FONT */
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
	font-weight: 500;
	color: var(--white);
}

.field-row > .tag:nth-child(1) {
	background-color: var(--faded-black);
}

.active-tag {
	background-color: var(--blue);
}


/* ---------->>> Register (4.6) <<<-----------*/

.register {
	width: 80rem;
}

.register-tab {
	position: relative;
	padding: 2rem;
	background-color: var(--blue);


	border-radius: 0.5rem 0.5rem 0 0;
	cursor: pointer;
}

.register-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	user-select: none;
}

.register-title > h2 {
	padding: 0;
}

.register-title > svg {
	transform: rotate(-90deg);
	transition: 0.4s;
}

.rotate-triangle > .register-title > svg {
	transform: rotate(90deg);
}

.register-form {
	display: none;
	background-color: white;
	padding: 0 1.6rem 2rem;
}

.input-wrapper-split {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.input-wrapper-full {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
}

.input-container {
	padding: 1rem 2rem;
}

.input-container > input[type = text] {
	padding: 0.4rem 0.8rem;
	border: 0.1rem solid var(--black);
	border-radius: 0.3rem;

	background-color: var(--white);

	outline: var(--blue);
}

.input-container > input[type = submit] {
	display: block;
	width: 10rem;
	padding: 0.6rem 1.4rem;
	border-radius: 0.3rem;

	background-color: var(--blue);
	color: var(--white);
	cursor: pointer;

	transition: 0.2s background-color;
}

.input-container > input[type = submit]:hover {
	background-color: var(--faded-blue);
}

.input-container > input[type = file] {
	outline: var(--blue);
}

.input-container > select {
	padding: 0.4rem 0.8rem;
	border: 0.1rem solid var(--black);
	border-radius: 0.3rem;
	outline: var(--blue);
	background-color: var(--white);
}

.tag-list {
	display: flex;
	flex-wrap: wrap;
}

.tag-item {
	margin: 0 1.6rem 1.4rem 0;
	padding: 0 0.6rem;
	border: 0.1rem solid var(--black);
	border-radius: 0.3rem;
	background-color: var(--white);
}

.tag-item > input {
	margin-right: 0.4rem;
}

.tag-item > span {
	user-select: none;
}

/* ------------------------*/ /* ---------->>> FOOTER (5) <<<-----------*/ /* ------------------------*/

/* ---------->>> General (5.1) <<<-----------*/

footer {
	padding-left: 5rem; /* -- SCALE -- */
	border-top: 0.1rem solid var(--faded-blue);
} /* The styling for the footer */

.parallax-footer {
  position: relative;
  transform-style: preserve-3d;
}


/* ---------->>> copyright (5.2) <<<-----------*/

.copyright {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	height: 4rem;
	padding: 1rem 2rem;
}


/* ------------------------*/ /* ---------->>> DEV RESOURCES (6) <<<-----------*/ /* ------------------------*/

/* ---------->>> Color glossary (6.1) <<<-----------*/

/*
#202121 - black
#F4F7F6 - white
#005CFF - blue
*/


/* ---------->>> Typography (6.2) <<<-----------*/

.big-txt {
	font-size: 5.6rem;
	font-family: "proxima-nova", arial, sans-serif;
	font-style: normal;
	font-weight: 600;
	text-shadow: 0 0.1rem 0.6rem var(--black);
} /* Text format for big text */

.nav-txt {
	font-size: 1.4rem;
	font-family: "proxima-nova", arial, sans-serif;
	font-style: normal;
} /* Text format for navigation */

.bread-txt {
	font-size: 1.8rem;
	font-family: "proxima-nova", arial, sans-serif;
	font-weight: 400;
	line-height: 2.6rem;
} /* The format for text blocks */

.note-txt {
	font-size: 1.2rem;
	font-family: "proxima-nova", arial, sans-serif;
	font-weight: 400;
} /* The format for small notations */ 


/* ---------->>> Centering (6.3) <<<-----------*/

.center-abs {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
} /* For perfect centering of objects inside relative containers */

.center-marg {
	margin: 0 auto;
} /* For centering containers horizontaly */

.center-flex {
	display: flex;
	justify-content: center;
	align-items: center;
} /* For perfect centering of objects inside a flex container */

.center-text {
	text-align: center;
} /* For centering text horizontaly */


/* ---------->>> Sizing (6.4) <<<-----------*/ 
.full-w {
	width: 100%;
} /* Sizes things to be 100% of the width of its container */

.full-h {
	height: 100%;
} /* Sizes things to be 100% of the height of its container */

.half-w {
	width: 50%;
} /* Sizes things to be 50% of the width of its container */

.half-h {
	height: 50%;
} /* Sizes things to be 50% of the height of its container */


/* ---------->>> Color (6.5) <<<-----------*/

.black-txt {
	color: var(--black);
} /* class aplied for black text */

.white-txt {
	color: var(--white);
} /* class aplied for white text */

.blue-txt {
	color: var(--blue);
} /* class aplied for blue text */

.faded-black-txt {
	color: var(--faded-black);
} /* class aplied for faded black text */

.faded-white-txt {
	color: var(--faded-white);
} /* class aplied for faded white text */

.faded-blue-txt {
	color: var(--faded-blue);
} /* class aplied for faded blue text */

.very-faded-black-txt {
	color: var(--very-faded-black);
} /* class aplied for very faded black text */


/* ---------->>> Background-color (6.6) <<<-----------*/

.black-bcg {
	background-color: var(--black);
} /* class aplied for black background */

.white-bcg {
	background-color: var(--white);
} /* class aplied for white background */

.blue-bcg {
	background-color: var(--blue);
} /* class aplied for blue background */


/* ---------->>> Display scaling (6.7) <<<-----------*/

.pc-show {
	display: none;
} /* Makes something show up on pc */

.pc-hide {
	display: inline-block;
} /* Makes something dissapear on pc */

.toggle {
	display: block;
}


/* ---------->>> Quick fixes (6.8) <<<-----------*/

.img-fix {
	display: block;
} /* Fixes the gap created at the bottom of images */


/* ---------->>> Z-index list (6.9) <<<-----------*/

/*

General
------------------------
	 10 - header layer
	  0 - main layer
	  0 - footer layer

Header
------------------------
	-10 - login box background
	  0 - header
	 10 - login box
	 11 - login form
	 15 - login quit
Main
------------------------
	  0 - deep back layer
	  1 - back layer
	  2 - base layer

Footer
-----------------------


*/

/* ---------->>> Margin (6.10) <<<-----------*/

.small-marg-top {
	margin-top: 1rem;
} /* The class aplied to give a small margin on the top */

.med-marg-top {
	margin-top: 2.5rem;
} /* The class aplied to give a medium margin on the top */

.big-marg-top {
	margin-top: 5rem;
} /* The class aplied to give a large margin on the top */

.small-marg-bot {
	margin-bottom: 1rem;
} /* The class aplied to give a small margin on the bottom */

.med-marg-bot {
	margin-bottom: 2.5rem;
} /* The class aplied to give a medium margin on the bottom */

.big-marg-bot {
	margin-bottom: 5rem;
} /* The class aplied to give a large margin on the bottom */


/* -- List styling, cause i fucked it -- */

.margin-bottom {
	margin-bottom: 1.6rem;
}

.margin-top {
	margin-top: 1.6rem;
}

.small-margin-bottom {
	margin-bottom: 0.8rem;
}

.small-margin-top {
	margin-top: 0.8rem;
}

/* ---------->>> Containers (6.11) <<<-----------*/

.container {
	padding: 0 1.6rem;
}

.wrapper {
	padding: 0 0.8rem;
}

.card {
	box-shadow: 0 0.1rem 0.8rem 0 rgba(0,0,0,0.2), 0 0.4rem 2rem 0 rgba(0,0,0,0.19);
}

.info-box {
	max-width: 120rem;
}


/* ------------------------*/ /* ---------->>> MEDIA QUERIES (7) <<<-----------*/ /* ------------------------*/

/* Mobile first, remember to change the breakpoint based on your design*/

/* Small devices (Tablets, 600px and up) (7.1) */
@media (min-width: 600px) {

	.login-box-container {
		width: 25rem;
	} /* The box containing the actual login form */

		.login-jq .login-box-container {
			height: 30rem;
		} /* The hover for the login box / .login-container:hover .login-box-container*/
	
	.list-item {
		flex-direction: row;
	}
}

/* Medium devices (Tablet portrait, small desktops, 900px and up) (7.2) */
@media (min-width: 900px) {

	/* ---------->>> Header <<<-----------*/

	header {
		display: flex;
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 5rem;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
	} /* Scaling for the header */

	.logo-container {
		width: 5rem;
		height: 100%;
	} /* The styling for the logo container asjusted for pc */

	nav {
		flex-direction: row;
		padding: 0 20%;
	} /* Sets the nav to be horisontal */

	.login-container {
		width: 10rem;
		height: 100%;
	} /* The styling for the login contaienr adjusted for pc */

	.login-drop {
		top: 100%;
		left: 0;

		width: 100%;
		height: 0;
	} /* The dropdown for the login container */

		.login-jq .login-drop {
			width: 100%;
			height: 100vh;
			background-color: var(--faded-black);
		} /* The hover for the dropdown / .login-container:hover .login-drop */

	.login-box-container {
		left: 50%;
		transform: translate(-50%, -50%);

		width: 30rem;
	} /* The box containing the actual login form */

		.login-jq .login-box-container {
			height: 35rem;
		} /* The hover for the login box / .login-container:hover .login-box-container*/

	.active::before {
		top: 100%;
		bottom: auto;
		left: 100%;
		border-width: var(--active-size) var(--active-size) 0 0;
		border-color: var(--blue) transparent transparent transparent;
	} /* The triangle on top of the blue block that gives the cool behind the nav bar effect */

	.active::after {
		top: 100%;
		left: 0;
		height: var(--active-size);
		width: 100%;
		background-color: var(--blue);
	} /* The blue block placed after the nav item */

	/* ---------->>> Main <<<-----------*/

	main {
		padding-top: 5rem;
		padding-left: 0;
	}
	.lawyer-listing {
		flex-direction: row;
		align-items: flex-start;
		width: fit-content;
	}

	.search {
		width: auto;
	}

	.search-input {
		width: 25rem;
	}

	.list-item {
		width: 50rem;
	}


	/* ---------->>> Footer <<<-----------*/

	footer {
		padding-left: 0;
	}


	/* ---------->>> Other <<<-----------*/

	.pc-show {
		display: inline-block;
	} /* Shows something on pc/tablet */
	
	.pc-hide {
		display: none;
	} /* hides something on pc/tablet */

}

/* Large devices (Medium to large desktops, 1200px and up) (7.3) */
@media (min-width: 1200px) {

	/* ---------->>> List <<<-----------*/

	.list-item {
		width: 80rem;
	}


	/* ---------->>> Parallax layers <<<-----------*/

	@supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {

		.parallax {
			perspective: 0.1rem;
			height: 100vh;
			overflow-x: hidden;
			overflow-y: auto;
			-ms-perspective-origin-x: 100%; /* Webkit fix */
		}

		.parallax-group {
			position: relative;
			height: 100vh;
			transform-style: preserve-3d;
		} /* You must scale the pictures after the height you choose */

		.parallax-layer {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			-ms-transform-origin-x: 100%; /* Webkit fix */
		}

		.parallax-layer-base {
			transform: translateZ(0);
		}

		.parallax-layer-back {
			transform: translateZ(-0.1rem) scale(2.01);
		}

		.parallax-layer-deep-back {
			transform: translateZ(-0.2rem) scale(3.02);
		}

		.base-layer {
			z-index: 2;
		}

		.back-layer {
			z-index: 1;
		}

		.deep-back-layer {
			z-index: 0;
		}
	}
}

/* Huge devices (Big monitors and tvs, 1800px and up) (7.4) */
@media (min-width: 1800px) {

}